.search-container{
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://dudo6el28sqqp.cloudfront.net/gothamistgallery/2016/4/12/5043d14f1-mobile.jpeg);
  background-size: cover;
  background-position: center;
  height: 380px;
  width: auto;
  justify-content: center;
  filter: brightness(95%);
  align-items: center;
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

.search-container h1{
  display: flex;
  align-items: center;
  color: white;
  font-size: 41px;
  /* font-family: 'Maven Pro', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 23px;

}

.search-bar-main{
  display: flex;
  
}



.search-bar-main input{
  height: 43px;
  width: 160px;
  border-top: none;
  border-bottom: none;
  color:black;
}

.search-date input{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid lightgray;
  border-left: none;
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
}

.search-time input{
  border: none;
  height: 43px;
  border-right: 1px solid lightgray;
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
}

.search-bar-number input{
  height: 41px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
}

.search-bar{
  margin-left: 22px;
  font-family: 'Source Sans Pro', sans-serif;
}

.search-bar input{
  height: 41px;
  width: 290px;
  border-radius: 4px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
}

.search-button{
  margin-left: 10px;
  width: 145px;
  height: 44px;
  border-radius: 4px;
  border: none;
  background-color: #da3743;
  color: white;
}