.search-container{
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://dudo6el28sqqp.cloudfront.net/gothamistgallery/2016/4/12/5043d14f1-mobile.jpeg);
  animation-name: change-photo;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 380px;
  width: auto;
  justify-content: center;
  filter: brightness(95%);
  align-items: center;
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes change-photo{
  0% {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://dudo6el28sqqp.cloudfront.net/gothamistgallery/2016/4/12/5043d14f1-mobile.jpeg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  } 

  25% {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn-image.foodandwine.com/sites/default/files/1501607996/opentable-scenic-restaurants-marine-room-FT-BLOG0818.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  } 

  50%{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://dudo6el28sqqp.cloudfront.net/gothamistgallery/2016/4/12/5043d14f1-mobile.jpeg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  }

  100%{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn-image.foodandwine.com/sites/default/files/1501607996/opentable-scenic-restaurants-marine-room-FT-BLOG0818.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  }
}

.search-container h1{
  display: flex;
  align-items: center;
  color: white;
  font-size: 41px;
  /* font-family: 'Maven Pro', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 23px;

}

.search-bar-main{
  display: flex;
  
}



/* .search-bar-main input{
  height: 43px;
  width: 160px;
  border-top: none;
  border-bottom: none;
  color:black;
} */

.search-date {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid lightgray;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  height: 50px;
  width: 150px;
}

.search-time {
  height: 50px;
  width: 150px;
  border: none;
}

.search-bar-number {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid lightgray;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  height: 48px;
  width: 150px;
}

.search-bar{
  margin-left: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
}

/* .search-bar input{
  height: 41px;
  width: 290px;
  border-radius: 4px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
} */

.search-search{
    height: 47px;
    margin-left: 14px;
    border: none;
    border-radius: 4px;
    width: 300px;
}

.search-button{
  margin-left: 10px;
  width: 145px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #da3743;
  color: white;
      font-size: 15px;
    font-weight: 700;

    font-family: sans-serif;
}