



.pop-res-info{
  display: flex;
  height: 260px;
  width: 100%;
}



.res-info{
  display: flex;
  flex-direction: column;
  margin: 8px; 
  border: 1px solid #d8d9db;
  border-radius: 4px;
  margin-top: 4px;
  margin-left: 5px;
  height: 250px;
  width: 240px;
}

.res-info:hover{
  -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.res-info img{
  height: 130px;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.res-ul{
 
  width: 1338px;;
}

.res-info a{
  text-decoration: none;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
  
}

.rest-title{
  margin-top: 5px;
    margin-left: 8px;
}

.res-box{
  display: flex;
  justify-content: space-evenly;
  width: 1236px;
 
}

.star-ratings{
  display: flex;
  align-items: baseline;
  margin-top: 5px;
  margin-left: 6px;

}

.star-ps{
  margin-left: 8px;
  margin-right: 3px;
}


.ratings{
  display: flex;
  align-items: baseline;
  margin-top: 3px;
  margin-left: 6px;
}

.ratings p{
  margin: 2px;
  margin-left: 5px;
  margin-right: 6px;
}

.pop-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 62px;
 
}

.border-h2{
  display: flex;
  width: 1315px;
  border-top: 1px solid rgba(0,0,0,.08);
  border-bottom: 1px solid rgba(0,0,0,.08);
  margin-top: 30px;
  margin-bottom: 19px;
}

.pop-h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #2d333f;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

#res-stars{
  color: #da3743
}

#grey-stars{
  color: lightgray;
}