



.pop-res-info{
  display: flex;
  height: 230px;
}

.res-info a{
  text-decoration: none;
}


.res-info{
  display: flex;
  flex-direction: column;
  margin: 8px; 
  border: 2px solid rgba(0,0,0,.08);
  border-radius: 6px;
  margin-top: 4px;
  margin-left: 5px;
}

.res-info img{
  height: 130px;
  width: 200px;
  padding: 6px;
}

.res-ul{
  margin-right: 60px;
  width: 1087px;
}

.res-info a{
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
  margin-left: 7px;
  margin-top: 6px;
}

.res-box{
  display: flex;
  justify-content: space-evenly;
  width: 1165px;
  margin-left: 60px;
}

.star-ratings{
  display: flex;
  align-items: baseline;
  margin-top: 5px;
  margin-left: 6px;

}

.star-ps{
  margin-left: 8px;
  margin-right: 3px;
}


.ratings{
  display: flex;
  align-items: baseline;
  margin-top: 3px;
  margin-left: 6px;
}

.ratings p{
  margin: 2px;
  margin-left: 5px;
  margin-right: 6px;
}

.pop-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
 
}

.border-h2{
  display: flex;
  width: 1072px;
  border-top: 1px solid rgba(0,0,0,.08);
  border-bottom: 1px solid rgba(0,0,0,.08);
  margin-top: 30px;
  margin-bottom: 19px;
}

.pop-h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #2d333f;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

#res-stars{
  color: #da3743
}