.rests-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
  
}

.rests-photos{
  display: flex;
  flex-direction: row;
  height: 190px;
  width: 100%;
  position: absolute;
}

.photos-1{
  display: flex;
  flex-direction: column;
}

.photos-1 img{
  height: 91px;
  width: 125px;
}

.photos-2 img{
  height: 186px;
}

.rests-photos div{
  height: 100px;
}

.rests-photos div img{
  border: 2px solid 
}

.photos-3 img{
  height: 186px;
}

.photos-5 img{
  height: 186px;
}

.rests-links{
  height: 50px;
  width: 563px;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  margin-top: 140px;
  border-radius: 3px;
  border-bottom: 1px solid lightgray;
}

.rest-links-list{
  display: flex;
  flex-direction: row
}

.rest-links-list li{
  margin-left: 13px;
  margin-right: 14px;
}


.rest-info{
  display: flex;
  justify-content: center;
  margin-top: 55px;
}