.rests-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
  
}

.rests-photos{
  display: flex;
  flex-direction: row;
  height: 190px;
  width: 100%;
  position: absolute;
}

.photos-1{
  display: flex;
  flex-direction: column;
}

.photos-1 img{
  height: 126px;
  width: 149px;
}

.photos-2 img{
  height: 256px;
}

.rests-photos div{
  height: 100px;
}

.rests-photos div img{
  border: 2px solid 
}

.photos-3 img{
  height: 256px;
}

.photos-5 img{
  height: 256px;
}

.rests-links{
  height: 50px;
  width: 563px;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  margin-top: 212px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.rest-links-list{
  display: flex;
  flex-direction: row
}

.rest-links-list li{
  margin-left: 13px;
  margin-right: 14px;
}


.rest-info{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.rest-info h2{
  font-size: 45px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  width: 552px;
  padding-bottom: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.rest-quick-facts{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-right: 185px;
}

.quick-facs-rating{
  margin-left: 7px;
  font-family: 'Source Sans Pro', sans-serif;
}

.quick-facs-reviews{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.quick-facs-reviews p{
  margin-left: 5px;
}


.quick-facs-money{
  margin-left: 14px;
  display: flex;
}

.quick-facs-money p{
  margin-left: 9px;
}

.quick-facs-cat{
  display: flex;
  margin-left: 14px;
}

.quick-facs-cat p{
  margin-left: 9px;

}