.review-box{
 
}

.review-box h3{
 
}

.rev-form{
 
}

.rev-form input{
 
}

.review-body{

}

.review-sub{

}
.all-reviews{
  display: flex;
  justify-content: center;
}



.all-reviews-lis{
  display: flex;
  margin-right: 201px;
}

.all-reviews li{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-right: 151px;
}


.user-review{
  width: 580px;
  height: 200px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  display: flex;
  align-items: center;
  align-items: inherit;
}

.user-rev-email{
  display: flex;
  flex-direction: column;
  width: 101px;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}


.user-rev-info{

}

.user-rev-info p{
  margin-bottom: 6px;
}

.dined-when{
  display: flex;
  
}

.user-bottom-email{
    font-size: 14px;

}

#city{
      font-size: 12px;
    color: #6f737b;

}

.email-name-over{
  position: relative;
  text-align: center;
  color: white;
}

#red-circ{
 font-size: 40px;
  color: cornflowerblue;
}

.email-names{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}