.review-box{
 
  display: flex;
    justify-content: center;
    margin-top: -43px;
}

.review-box h3{
     margin-bottom: 13px;
}

.rev-form{
  padding: 20px;
  width: 413px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,.08);
  border-bottom: 1px solid rgba(0,0,0,.08);

  margin-bottom: 9px;
}

.rev-form input{
  width: 340px;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 10px 6px;
  padding-left: 5px;
 
}

.rev-form input::placeholder{
   padding-left: 8px;
   font-family: 'Source Sans Pro', sans-serif;
   color: grey;
   font-weight: bold;
   font-size: 12px;
 }

.review-body{
      height: 108px;
}

.review-sub{
  margin-top: 2px;
  background-color: #da3743;
  color: #fff;
  font-size: 18px;
  height: 57px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  font-weight: normal;
}
.all-reviews{
  display: flex;
  justify-content: center;
}



.all-reviews-lis{
  display: flex;
  margin-right: 201px;
}

.all-reviews li{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-right: 151px;
}


.user-review{
  width: 580px;
  height: 200px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  display: flex;
  align-items: center;
  align-items: inherit;
}

.user-rev-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29%;
  margin-right: 7px;
}


.user-rev-info{
  width:100%;
}

.user-rev-info p{
  margin-bottom: 6px;
}

.dined-when{
  display: flex;
  margin-bottom: 5px;
  
}

.dined-when h1{
  margin-right: 19px;
}

.user-bottom-email{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city{
      font-size: 12px;
    color: #6f737b;

}

.email-name-over{
  position: relative;
  text-align: center;
  color: white;
}

#red-circ{
 font-size: 40px;
  color: cornflowerblue;
}

.email-names{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#more{
  display: none
}