.signup-button{
  border: 2px solid #1c627a;
  border-radius: 4px;
  background-color: #237b98;
  font-family: unset;
  color: white;
  font-size: .875rem;
  text-decoration: none;
  padding: 9px;
  display: block;
}

.login-button{
  font-family: unset;
  color: black;
  font-size: .975rem;
  text-decoration: none;
  padding-left: 11px;
  display: flex;
  align-items: center;
}

.login-signup{
    height: auto;
    flex-direction: row;
    display: flex;
   }


.right-bar{
  display: flex;
  padding-left: 30px;
  width: 300px;
  flex-direction: row;

 
}


.right-bar img{
  width: 4rem;
  height: 3.975rem;
  object-fit: cover;
}

.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-bar a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  display: flex;
  align-items: center;
}