

 .login-signup{
  position: absolute;
  right: 90px;
  /* width: 200px; */
  height: 35px;
 }

 .login-form-container{
  display: flex;
  justify-content: center;
  margin-top: 100px
 }

 .login-form-box{
  outline: 1px solid black;
  padding: 20px 
 }

 .login-form{
  display: flex;
  justify-content: center;
  flex-direction: row;
 }

 .login-input{
   margin-left: 20px;
 }

