.signup-form-container{
   display: flex;
   justify-content: center;
   margin-top: -43px;
}

.signup-form-box p {

}

.signup-form-box{
  outline: 1px solid black;
  padding: 20px ;
  width: 340px;
  height: 500px;
  /* border-top: 1px solid #80808047; */

}

.signup-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #80808047;
}

.signup-input{
  height: 41px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.location-input{
  height: 50px;
  margin-bottom: 4px;
  margin-top: 4px;
  font: bold
}

.signup-input::placeholder{
   padding-left: 8px;
   font-family: 'Roboto', sans-serif;
   color: grey;
   font-weight: bold;
   font-size: 12px;
}

.signup-submit{
  margin-top: 10px;
  background-color:  #da3743;
  color: #fff;
  font-size: 18px;
  height: 57px;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px;
  font-weight: normal;
}

.signup-form-box h3 {
  font-weight: normal;
  font-family: 'Nanum Gothic', sans-serif;

}